<section class="container text-center mt-2">
  <h1 class="mt-4">Meme Details</h1>
  <p>ID: <%= meme.id %>
  </p>
  <p>Name: <%= meme.name %>
  </p>
  <p>URL: <%= meme.url %>
  </p>
  <p>width: <%= meme.width %> height: <%= meme.height %>
  </p>
  <img src="<%= meme.url %>" class="w-25 h-25">
</section>