<section class="container mt-5">
  <form action="/memes" method="get">
    <div class="mb-3 d-flex justify-content-center p-3 ">
      <input type="text" class="form-control w-50" name="search" placeholder="Search Memes" value="<%= searchTerm %>">
      <button type="submit" class="btn btn-warning">Search</button>
    </div>
  </form>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">More</th>
      </tr>
    </thead>
    <tbody>
      <% memes.forEach(function(meme) { %>
        <tr class="memes-row" data-meme-id="<%= meme.id %>">
          <td>
            <p class="lead my-5">
              <%= meme.name %>
            </p>
          </td>
          <td><img src="<%= meme.url %>" class="w-25 h-25"></td>
          <td>
            <% if (user) { %>
              <a href="/details/<%= meme.id %>" class="btn btn-primary btn-view-details">View Details</a>
              <% } %>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</section>